{% extends "layout/layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block main %}
<!-- Main header -->
    <div class="row">
        <header class="main-header  text-white text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                   <h1>Enter the chemical formula of a compound:</h1>
                  <!-- Input form -->
                    <div class="input-block mx-auto">
                        <form action="/check" method="get">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="formula"  autofocus>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-block btn-primary">Calculate!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
               </div>
            </div>
        </div>
    </header>
    </div>
    <div class="row">
        <div class="col-md-3 background">
        </div>

        <!-- Table result -->
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Element</th>
                        <th>Molecular mass</th>
                        <th>Number</th>
                        <th>Total</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>value</th>
                        <th>value</th>
                        <th>value</th>
                        <th>value</th>
                        <th>value</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- End of table -->

        <div class="col-md-3 background">
        </div>
    </div>

     <footer>
         <p>Created by: Oksana Kuziv</p>
     </footer>
{% endblock %}
