{% extends "layout/layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block main %}
    <div class="row">
         <div class="search-box mx-auto">
            <div class="row">
                <div class="col-md-12 text-center">
                   <h1 class="main-header">Enter the chemical formula of a compound:</h1>
                </div>
                <div class="col-md-12">
                  <!-- Input form -->
                    <div class="input-block">
                        <form action="/check" method="get">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="formula" id="formula" autofocus>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-block btn-primary">Calculate!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <div class="row">
          <!-- Table result -->
        <div class="col-md-12">
            <table class="table elements-table">
                <thead class="thead-light">
                    <tr>
                        <th>Element</th>
                        <th>Molecular mass</th>
                        <th>Number</th>
                        <th>Total</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                {% if formula %}
                    {% set ns = namespace(total = 0.00) %}
                    {% for element in formula %}
                    <tr>
                        <td>{{ element.name }}</td>
                        <td>{{ element.mass }}</td>
                        <td>{{ element.number }}</td>
                        <td>{{ element.number*element.mass }}</td>
                         <td></td>
                        {% set ns.total = ns.total + element.number*element.mass %}
                    </tr>
                    {% endfor %}
                     <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ ns.total| round(2) }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <!-- End of table -->
    </div>

     <footer class="footer fixed-bottom">
         <p>Created by: Oksana Kuziv</p>
     </footer>
    <script>
    $(document).ready(function(){
        /* Alert window if input doesn't exist */

    })
    </script>
{% endblock %}
